body {
    margin: 0;
    padding: 0;
    font-family: sans;
}

.content .holder {
    position: relative;
    width: 100%;
    margin: 40px auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto 1fr auto;
    grid-gap: 20px;
}

.content .holder .card {
    position: relative;
    width: 300px;
    height: 440px;
    margin: 0 auto;
    background: #000;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.5s;
}

.content .holder .card:hover {
    transform: translateY(-18px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.content .holder .card .img-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.content .holder .card:hover .img-box {
    opacity: 0.5;
}

.content .holder .card .img-box img {
    width: 100%;
    height: 100%;
}

.content .holder .card .desc {
    position: absolute;
    width: 100%;
    height: 55%;
    bottom: -100%;
    padding: 20px;
    padding-top: 60px;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.5s;
}

.content .holder .card:hover .desc {
    bottom: 0;
}

.content .holder .card:nth-child(1) .desc {
    background: linear-gradient(0deg, #2196f3
        /*darkturquoise*/
        , transparent);
}

.content .holder .card:nth-child(2) .desc {
    background: linear-gradient(0deg, #8012a5, transparent);
}

.content .holder .card:nth-child(3) .desc {
    background: linear-gradient(0deg, chocolate, transparent);
}

.content .holder .card:nth-child(4) .desc {
    background: linear-gradient(0deg, #c21833, transparent);
}

.content .holder .card .desc h2 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 20px;
}

.content .holder .card .desc h2 span {
    color: yellow;
    font-size: 16px;
}

.content .holder .card .desc p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}

.content .holder .card .desc ul {
    margin: 5px 0 0;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;

}

.content .holder .card .desc ul li {
    list-style: none;
}

.content .holder .card .desc ul li a {
    padding: 0 10px;
    color: #fff;
    font-size: 18px;
}

.content .holder .card .desc ul li a:hover {
    color: #000;
}